* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #201d20; 
    --primary-color: #F97A14; 
    --secondary-color: #494449;
    --accent-color: #817f81;
    --tertiary-color: #F6A96A;
    --shadow-color: #C44D24;
}

body {
    background-color: var(--background-color);
    font-family: 'Arnika Variable', sans-serif;
}

h2 {
    font-family: 'Spicy Rice', 'Arnika Variable', sans-serif;
}

/* Start styling af navigationsbar */
header a {
    display: flex;
}

.left-icon {
    width: 12%;
    height: auto;
    margin: 0.8rem auto;
    display: flex;
}

nav {
    position: relative; /* Gør navbaren relativ i forhold til animationsvideo*/
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000000; 
    color:var(--primary-color);
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    display: none; /* Skjuler navbaren på mobil */
    flex-direction: column; 
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    position: relative; 
}

nav ul li ul {
    display: none; /* Skjul min dropdownmenu som standard */
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9); 
    padding: 1rem;
}

nav ul li ul li {
    padding: 0.5rem;
}

nav ul li ul li a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1.5rem;
}

nav ul li a {
    display: block;
    margin: 0 auto;
    text-decoration: none;
    color: var(--primary-color);
    padding: 0.3rem;
    font-size: 2rem;
}

nav label img {
    width: 15%;
    height: auto;
    margin-right: 2%;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 4%;
}

#menu-bar {
    display: none;
}


#menu-bar:checked ~ ul {
    display: flex; 
}

#menu-bar:checked ~ ul li:hover > ul,
#menu-bar:checked ~ ul li:focus-within > ul {
    display: flex; /* Viser min dropdownmenu på mobil*/
}


#menu-bar:checked ~ ul li {
    background-color: rgba(0, 0, 0, 0.5);
}
/* Slut styling af navbar */

.container {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

#box1 img, #box2 img, #box3 img {
    width: 70%;
    margin-top: 1rem;
    margin-left: 1rem;
}

.overskrift {
    display: flex;
}

.ikon{
    width: 30%;
    margin-bottom: 1.5rem;
}

.titel {
    width: 70%;
    margin-top: 1.5rem;
}
.container2 {
    position: relative;
    margin: 1rem auto;
    border-radius: 2rem;
    width: 90%;
}

.box{
    background-color: #817f81;
    border-radius: 2rem;
    height: 270px;
}
.wrapper2 {
    width: 90%;
    height: 100%;
    margin: auto;
    overflow: hidden;
    margin-top: 0;
}

.slider-holder{
    display: grid;
    grid-template-columns: repeat(3, 100%);
    height: 100%;
}

.button-holder{
    bottom: 0%;
    margin-left: 38%;
}


.button-holder .dots {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 3rem;
    background-color: var(--primary-color);
    margin: .4rem .3rem;
}

.titel h2 {
    font-size: 1.6rem;
    margin-left: 1rem;
}

.container2 p {
    font-size: 1.1rem;
    margin-left: 1rem;
}



/* starter styling af footer på mobilenhed */
footer {
    display: flex;
    flex-direction: column;
    background-image: url(../img/radar.grafik.svg);
    background-size: cover;
}


.footer-login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 90%;
    background-color: transparent;
    backdrop-filter: blur(20px);
    color: var(--accent-color);
    border-radius: 20px;
    padding: 10px 10px;
    border: 2px solid rgba(118, 117, 117, 0.5);
    margin-top: 2rem;
}

.wrapper h2 {
    font-size: 2.5rem;
    text-align: center;
    color:var(--accent-color);
}

.wrapper .input-box {
    width: 100%;
    height: 50px;
    margin: 30px 0;
    position: relative;
}

.input-box input {
     width: 100%;
     height: 100%;
     background: transparent;
     border: none;
     outline: none;
     border: 2px solid rgba(118, 117, 117, 0.5);
     border-radius: 40px;
     font-size: 1.2rem;
     color: var(--primary-color);
     padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: var(--accent-color);
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    color: var(--accent-color);
    margin-right: 3px;
}

label {
    font-size: 1rem;
}

.remember-forgot a {
    text-decoration: none;
    color: var(--accent-color);
    font-weight: 600;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background-color: var(--primary-color);
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1.2rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    color: var(--background-color);
    font-weight: 600;
}

.wrapper .register-link {
    font-size: 1rem;
    text-align: center;
    margin-top: 20px;
}

.register-link p a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
}

.footer-kontakt {
    margin-top: 2rem;
}

.footer-info{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

 ul li {
    list-style-type: none; /* jeg fjerner prikkerne */
    color: var(--primary-color);
    font-size: 1.5rem;
    text-align: center;
}

.kontakt1, .kontakt2 {
    width: 100%;
    margin-bottom: 2rem;
}

.footer-kontakt h2 {
    font-size: 2.5rem;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 1rem;
}
/* slutter styling af footer på mobilenhed */

@media only screen and (min-width: 540px) { /* Til mobil der ligger ned, aka landscape mode */
    
    .left-icon {
        width: 8%;
    }

    nav label img {
        width: 9%;
        margin-top: 2%;
    }

    .titel h2 {
        font-size: 3rem;
    }
    
    .container2 p {
        font-size: 1.6rem;
    }

    .button-holder{
        margin-left: 40%;
    }

    .box{
        height: 400px;
    }

}


@media only screen and (min-width: 768px) { /* Til ipad der står op, portrait mode */
    .left-icon {
        width: 12%;
    }

    nav label img {
        width: 14%;
        margin-top: 1.2%;
    }

    .titel h2 {
        font-size: 4rem;
    }
    
    .container2 p {
        font-size: 1.8rem;
        margin-top: 1rem;
    }

    .box{
        height: 450px;
    }

    .button-holder{
        margin-left: 45%;
    }


    /* start styling af footer */
    footer {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        justify-content: space-around;
    }

    .footer-info{  /* skal stå i columns */
        display: flex;
        flex-direction:column;
    }

    .footer-login {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
    }

    .wrapper {
        width: 100%;
        margin-top: 0;
    }
     /* slut styling af footer */

}

@media only screen and (min-width: 1024px) { /* Til ipad der ligger ned, aka landscape mode */
    
    nav label img {
        margin-top: 1%;
    }

    .slider-holder{
        display: grid;
        grid-template-columns: repeat(3, 50%);
        height: 100%;
        justify-items: center;
    }

    .titel h2 {
        font-size: 2.5rem;
    }
    
    .container2 p {
        font-size: 1.8rem;
        margin-top: 1rem;
    }

    .box{
        height: 450px;
    }

    .button-holder{
        margin-left: 45%;
    }

    .container-til-box1,.container-til-box2, .container-til-box3 {
        width: 95%;
    }

    .container2 {
        width: 90%;
    }

    .wrapper2 {
        width: 90%;
    }

    .button-holder .dots {
        height: 25px;
        width: 25px;
    }

    #dot2 {
        display: none;
    }
    
    .container img{
        width: 90%;
    }


}

@media only screen and (min-width: 1200px){


     /* Start navbar computer*/
     .left-icon {
        width: 20%;
    }
    
    nav label img {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    nav ul {
        display: flex;
        flex-direction: row;
    }

    nav ul li {
        list-style: none;
        position: relative; 
        padding: 0 2rem;
    }

    nav ul li ul {
        display: none; 
        position: absolute;
        top: 100%; 
        left: 0;
        background-color: rgba(0, 0, 0, 0.9);
        padding: 1rem;
        min-width: 200px; 
        z-index: 10
    }

    nav ul li:hover > ul { /* Viser min dropdown når man hover over Mit Radar */
        display: block;
    }

    nav ul li a {
        text-decoration: none;
        color: var(--primary-color);
        font-size: 2rem;
        padding: 0.5rem 1rem;
    }

    nav ul li a:hover {
        background: var(--tertiary-color);
        color: var(--background-color);
    }

    nav ul li ul li {
        padding: 0.5rem 0;
    }
    nav ul li ul li a {
        font-size: 1.5rem; 
    }

     /* Slut navbar computer*/

     .wrapper {
        width: 75%;
    }

    .slider-holder{
        display: grid;
        grid-template-columns: repeat(3, 33.33%);
        height: 100%;
        justify-items: center;
        margin-bottom: 5rem;
    }

    .titel h2 {
        font-size: 2.5rem;
    }
    
    .container2 p {
        font-size: 1.8rem;
        margin-top: 1rem;
    }

    .box{
        height: 450px;
    }


    .container-til-box1,.container-til-box2, .container-til-box3 {
        width: 95%;
    }

    .container2 {
        width: 100%;
    }

    .wrapper2 {
        width: 100%;
    }

    .button-holder .dots {
        height: 25px;
        width: 25px;
    }

    #dot1, #dot3 {
        display: none;
    }
    
    .container img{
        width: 80%;
    }

}


@media only screen and (min-width: 1600px) {
    nav ul li {
        list-style: none;
        padding: 1 5%;
        margin-left: 8rem;
    }

    .left-icon {
        width: 25%;
    }

    .footer-kontakt h2 {
        font-size: 5rem;
    }


}