*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #201d20; 
    --primary-color: #F97A14; 
    --secondary-color: #494449;
    --accent-color: #817f81;
    --tertiary-color: #F6A96A;
    --shadow-color: #C44D24;
}

body {
    background-color: var(--background-color);
    font-family: 'Arnika Variable', sans-serif;
}

h2 {
    font-family: 'Spicy Rice', 'Arnika Variable', sans-serif;
}


header a {
    display: flex;
}

.left-icon {
    width: 12%;
    height: auto;
    margin: 0.8rem auto;
    display: flex;
}

nav {
    position: relative; /* Gør navbaren relativ i forhold til video-containeren */
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000; /* sort baggrund */
    color:var(--primary-color);
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    display: none;
}

.cover {
    position: relative;
    width: 100%;
    overflow: hidden;
}

#bigphoto {
    width: 100%;
}


nav label img {
    width: 15%;
    height: auto;
    margin-right: 2%;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 4%;
}

#menu-bar {
    display: none;
}

#menu-bar:checked ~ ul {
    display: block;
}

#menu-bar:checked ~ ul li {
    background-color: rgba(0, 0, 0, 0.8);
}

#menu-bar:checked ~ ul li a {
    display: block;
    margin: 0 auto;
    text-decoration: none;
    color: var(--primary-color);
    padding: 0.3rem;
    font-size: 2rem;
}

header #menu-bar ul li:focus-within > ul,
header #menu-bar ul li:hover > ul {
    display: block;
}

.container1 {
    position: relative;
    width: 75%;
    height: 50vh;
    margin: 5rem auto;
    background-color: var(--accent-color);
    border-radius: 2rem;
}
.wrapper1 {
    width: 80%;
    height: 100%;
    margin: auto;
    overflow: hidden;
}
.slider-holder1{
    display: grid;
    grid-template-columns: repeat(3, 100%);
    height: 100%;
}

#slider-image1 img, #slider-image2 img, #slider-image3 img  {
    object-fit: cover;
    width: 100%;
    margin-top: 3rem;
}

.container1 .button-holder1{
    position: absolute;
    bottom: 0%;
    left: 40%;
}


.container1 .button-holder1 .dots {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 3rem;
    background-color: var(--background-color);
    margin: .4rem .3rem;
}

.overlay-text {
    text-align: center;
    margin-top: 1rem;
}

.overlay-text h2 {
    color: #201d20;
    font-size: 2rem;
}

button {
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: var(--background-color);
    margin-top: 1rem;
    color: var(--primary-color);
}

.knap {
    display: flex;
    justify-content: space-around;

}

iframe {
    border-radius: 1rem;
    width: 100%;
    height: 200px;
    margin-top: 5%;
}

.wrapper2 {
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;
}
.slider-holder2{
    display: grid;
    grid-template-columns: repeat(3, 100%);
    height: 100%;
}

.container2 .button-holder2{
    position: absolute;
    bottom: 0%;
    left: 30%;
}


.container2 .button-holder2 .dots {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 3rem;
    background-color: var(--primary-color);
    margin: .4rem .3rem;
}

.container2 {
    position: relative;
    width: 70%;
    height: 100%;
    margin: 5rem auto;
    border-radius: 2rem;
    margin-left: 5%;
    margin-bottom: 0;
}

.container2 h2, .sæsonkort h2, .mit-radar h2 {
    font-size: 2.5rem;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 1rem;
}

.container2 p, .sæsonkort p, .mit-radar p {
    font-size: 1.2rem;
    text-align: center;
    color: var(--primary-color);
}

.musik { 
    display: flex;
}

.vinyl img{
    width: 70%;
    margin-left: 20%;
}

.vinyl {
    width: 100%;
}

.plade {
    width: 40%;
}


.node1 {
    margin-top: 0;
    width: 15%;
}

.node3 {
    margin-bottom: 0;
    margin-left: 40%;
    width: 30%
}

.node2 {
    margin-bottom: 0;
    margin-left: 20%;
    width: 25%;
}

.node4 {
    width: 40%;
    margin-left: 20%;
}

.node5 {
    width: 50%;
    margin-left: 35%;
}



@media only screen and (min-width: 540px) { /* Til mobil der ligger ned, aka landscape mode */
    
    .left-icon {
        width: 8%;
    }

    nav label img {
        width: 9%;
        margin-top: 2%;
    }

    .container1 {
        width: 80%;
        height: 50vh;

    }
    .wrapper1 {
        width: 80%;
        height: 100%;
    }

}

@media only screen and (min-width: 768px) { /* Til ipad der står op, portrait mode */
    .left-icon {
        width: 12%;
    }

    nav label img {
        width: 14%;
        margin-top: 1.2%;
    }

    .container1 {
        width: 80%;
        height: 60vh;

    }
    .wrapper1 {
        width: 80%;
        height: 100%;
    }

    .container1 .button-holder1{
        left: 42%;
    }
    
    
}

@media only screen and (min-width: 1024px) { /* Til ipad der ligger ned, aka landscape mode */
    
    nav label img {
        margin-top: 1%;
    }

    .container1 .button-holder1{
        left: 45%;
    }
    
    .container1 {
        height: 60vh;

    }
}


@media only screen and (min-width: 1200px){

    .left-icon {
        width: 20%;
    }
    
    nav label img {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    nav ul {
        display: flex;
    }

    nav ul li {
        list-style: none;
        padding: 1 5%;
        margin-left: 5rem;
    }

    nav ul li a {
        text-decoration: none;
        color: var(--primary-color);
        font-size: 2rem;
    }

    nav ul li a:hover {
        background: var(--tertiary-color);
        color: var(--background-color);
    }

    nav ul li ul {
        display: none;
    }

    .container1 {
        height: 80vh;
    }
    

}

@media only screen and (min-width: 1600px) {
    nav ul li {
        list-style: none;
        padding: 1 5%;
        margin-left: 8rem;
    }

    .left-icon {
        width: 25%;
    }

    .container1 {
        height: 90vh;
    }

}